@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto');

body {
    max-width: 600px;
    margin: auto;
    font-family: 'Press Start 2P';
    font-size: 0.58rem;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.80);
}

.header img {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #5a4682;
}

.fix-menu {
    background-color: #998BB2;
    color: white;
}

.fix-menu a {
    text-decoration: none;
    color: white;
}

.main-menu:hover {
    background-color: #EAE7EF;
    transition: all 0.5s;
}

.fix-menu:hover {
    background-color: #5a4682;
    transition: all 0.5s;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.adv {
    display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-around;
	background:url(../img/head-poly-date.jpg);
	background-size:cover;
}

.phones {
    display: grid;
    grid-template-rows: 3fr 0.8fr 1fr 0.5fr 3fr;
    background-color: #998BB2;
    text-align: center;
    color: white;
    font-size: 0.55rem;
}

.phones .social img {
    padding: 0 7px 0 7px;
    height: 30px;
}

.phones h4 {
    line-height: 1.3;
    align-self: start;
    margin: 0 0 0 0;
}

.phones p {
    line-height: 1.3;
    align-self: center;
    color: #EAE7EF;
    font-size: 0.5rem;
	margin: 0 0 0 0;
}

.form {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: #9283AB;
    text-align: center;
    color: white;
    font-size: 0.7rem;
    /*height: 300px;*/
    /*padding-top: 15px;*/
}

.form h4 {
    align-self: end;
    margin: 0 0 10px 0;
}

.fields form {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    margin: 0 5px 0 5px;
}


.fields input  {
	border-style: solid;
	padding: 3px;
	border-radius: 1px;
	background-color: #9283AB;
    font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	color: #b2a6c4;
	text-align: center;
	margin: 2px 2px 2px 2px;
}


.fields textarea {
	border-style: solid;
	padding: 3px;
	border-radius: 1px;
	background-color: #9283AB;
    font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	color: white;
	text-align: left;
	margin: 2px 2px 2px 2px;
}

.button {
    background-color: white;
    font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	color: red;
	text-align: left;
	margin: 2px 2px 2px 2px;
}



.staff {
	display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-around;
	background:url(../img/poster-contacts-sq.jpg);
	background-size:cover;
}


h3 {
	display: block;
	border-style: solid;
	padding: 3px;
	min-width: 150px;
	border-radius: 4px;
	font-family: 'Press Start 2P', cursive;
	font-size: 1rem;
	color: white;
	text-align: center;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 5px 0;
}

.social img {
    padding: 0 3px 0 3px;
}

.footer {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #5a4682;
	text-align: center;
	margin-bottom: 15px;
}


.footer p {
    text-align: center;
    margin: 0 5px 0 5px;
    transition: all 0.1s;
}

.footer .bottom-menu p:hover {
    font-weight: bolder;
}


.footer .bottom-menu {
    display: flex;
    font-size: 1rem;
}

.footer .copyright {
    font-size: 0.9rem;
}




@media (max-width: 449px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }
    .phones {
        grid-column: 1;
        grid-row: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-rows: 1fr 0.8fr 1fr 0.5fr 1fr;
        height: 800 px;
        background-color: #9283ab;
    }    
    .phones p {
        font-size: 0.8rem;
        margin: 12px 0 0 0;
    }
    .phones h4 {
        font-size: 0.9rem;
        margin: 5px 0 12px 0;
    }
    .phones .social img {
        padding: 0 5px 0 5px;
        height: 40px;
    }
    .social {
        margin: 50px 0 0 0;
        align-self: end;
    }
    .carousel-wrapper {
        height: 200px;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .staff {
        height: 200px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer img {
        padding: 0 10px 0 10px;
    }
    .staff {
        background:url(../img/poster-contacts-rect.jpg);
    	background-size:cover;
    }
    .adv {
        width: 300px;
    }
}


@media (max-width: 540px) {
    .header div  {
        font-size: 0.5rem;
    }
}

@media (max-width: 490px) {
    .header div  {
        font-size: 0.45rem;
    }
    .footer .bottom-menu  {
        font-size: 0.9rem;
    }
    .footer .copyright  {
        font-size: 0.8rem;
    }
}
