@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')

:root {
    font-sise: 20px;
    font-family: 'Press Start 2P', sans-serif;

:root {
    font-sise: 20px;
    font-family: 'Press Start', sans-serif;
}