@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto');

body {
    max-width: 600px;
    margin: auto;
    font-family: 'Press Start 2P';
    font-size: 0.58rem;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;  
    background-color: rgba(255, 255, 255, 0.80);
}

.header img {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #5a4682;
}

.fix-menu {
    background-color: #998BB2;
    color: white;
}

.fix-menu a {
    text-decoration: none;
    color: white;
}

.main-menu:hover {
    background-color: #EAE7EF;
    transition: all 0.5s;
}

.fix-menu:hover {
    background-color: #5a4682;
    transition: all 0.5s;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pic {
    display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-around;
	background:url(../img/kostko5.jpg);
	background-size:cover;
}


.righ-art {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #998BB2;
    color: white;
    font-size: 0.55rem;
    /*height: 300px;*/
    /*padding-top: 15px;*/
}

h4 {
    line-height: 1.3;
    text-align: center;
    margin: 10px 0 20px 0;
}

.righ-art p {
    font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	text-align: justify;
	/*text-indent: 20px;*/
	padding: 0 20px 0 20px;
}

.navi-art {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    margin-top: 40px;
}

.navi-art a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 0;
}

.navi-art img {
        height: 70px;
    }

.righ-art a {
	opacity: 0.7;
	transition: all 0.3s;
}

.righ-art a:hover {
	opacity: 1;
}



h3 {
	display: block;
	border-style: solid;
	padding: 3px;
	min-width: 150px;
	border-radius: 4px;
	font-family: 'Press Start 2P', cursive;
	font-size: 1rem;
	color: white;
	text-align: center;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 5px 0;
}

.social img {
    padding: 0 3px 0 3px;
}

.footer {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #5a4682;
	text-align: center;
	margin-bottom: 15px;
}


.footer p {
    text-align: center;
    margin: 0 5px 0 5px;
    transition: all 0.1s;
}

.footer .bottom-menu p:hover {
    font-weight: bolder;
}


.footer .bottom-menu {
    display: flex;
    font-size: 1rem;
}

.footer .copyright {
    font-size: 0.9rem;
}




@media (max-width: 449px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }
    .righ-art {
        grid-column: 1;
        grid-row: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: white;
    }    
    .righ-art p {
        color: #5a4682;
        font-size: 0.9rem;
        margin: 12px 0 12px 0;
    }
    .navi-art .image img {
        height: 110px;
    }
    .navi-art img {
        height: 90px;
    }
    h4 {
        color: #5a4682;
        font-size: 0.9rem;
        margin: 25px 0 25px 0;
    }
    .carousel-wrapper {
        height: 200px;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .footer img {
        padding: 0 10px 0 10px;
    }
    .pic {
	    height: 0px;
    }
}


@media (max-width: 540px) {
    .header div  {
        font-size: 0.5rem;
    }
    
}

@media (max-width: 490px) {
    .header div  {
        font-size: 0.45rem;
    }
    .footer .bottom-menu  {
        font-size: 0.9rem;
    }
    .footer .copyright  {
        font-size: 0.8rem;
    }
}

/*@media (min-width: 450px) {
    .pic {
    display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-around;
	background:url(../img/kostko5.jpg);
	background-size:cover;
}*/

/*-----------------start SLIDER 1-------------------------*/


.carousel-wrapper{
  display: flex;
  height:300px;
  position:relative;
  margin:0;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
 	border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.arrow:hover{
    opacity: 1;
}

.arrow-prev{
  left:20px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
  right:20px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }


@media (max-width: 450px) {
      .arrow, .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url(../img/kostko1.jpg);
    background-size:cover;
  }
.item-2{
   background:url(../img/kostko2.jpg);
   background-size:cover;
}
.item-3{
   background:url(../img/kostko3.jpg);
   background-size:cover;
}
.item-4{
   background:url(../img/kostko4.jpg);
   background-size:cover;
}
.item-5{
   background:url(../img/kostko5.jpg);
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
    z-index: 3;
    opacity: 1;
}

/*-------------------------end SLIDER---------------------*/

